.venv
data

back/__pycache__
back/cluster/__pycache__
back/app/__pycache__

/.idea/misc.xml
/.idea/my_voice_db.iml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_09_09_2023_18_19_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_09_09_2023_18_19_[Changes]1/shelved.patch
/back/spell_checker/spell.json
/.idea/shelf/Uncommitted_changes_before_Checkout_at_09_09_2023_18_19__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_09_09_2023_18_19__Changes_1.xml
/.idea/vcs.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_09_09_2023_18_19_[Changes]/wittenbell-3-single.asc
/.idea/shelf/Uncommitted_changes_before_Checkout_at_09_09_2023_18_19_[Changes]1/wittenbell-3-single.asc
/.idea/workspace.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_09_09_2023_18_19_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_09_09_2023_18_19_[Changes]1/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_09_09_2023_18_19_[Changes]/wittenbell-3-single.asc
/.idea/shelf/Uncommitted_changes_before_Checkout_at_09_09_2023_18_19_[Changes]1/wittenbell-3-single.asc
